.overlay {
    position: fixed;
    inset: 0;
    justify-content: center;
    display: flex;
    backdrop-filter: blur(6px);
    background-color: rgba(125, 133, 125, 0.4);
  }
  
  .overlay svg {
    margin: auto;
    animation: rotate 2s linear infinite;
  }

  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .old-price {
    color: #ccc;
    text-decoration: line-through;
  }
  
  .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .overlay svg {
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  }